.aboutPageContents {
    margin: 0 10rem;
    place-items: center;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: auto auto;

    .imageContainer {
        padding-right: 2rem;
    }
    .infoContainer {
        display: flex;
        flex-direction: column;
        ul {
            padding-left: 0.7rem;
            li {
                font-weight: 300;
            }
        }
        h2 {
            width: 100%;
            padding-bottom: 0.2rem;
            border-bottom: 2px solid gray;
        }
        span {
            font-weight: 500;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .aboutPageContents {
        margin: 0rem;
        grid-template-columns: auto;
        padding: 1rem;
        .imageContainer {
            padding: 0;
        }
    }
}
