.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: calc(4 * var(--size-bezel));
  margin-top: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-shadow, currentColor);
  -webkit-box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
          box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
}

.form .formContent .Input {
  padding-bottom: 2rem;
  position: relative;
}

.form .formContent .InputText {
  display: block;
  margin: 0;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: black;
  width: 100%;
  font-family: inherit;
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: 1px solid black;
  border-radius: 0.4rem;
}

.form .formContent .InputText::-webkit-input-placeholder {
  color: black;
}

.form .formContent .InputText:-ms-input-placeholder {
  color: black;
}

.form .formContent .InputText::-ms-input-placeholder {
  color: black;
}

.form .formContent .InputText::placeholder {
  color: black;
}

.form .formContent .InputText:focus {
  outline: none;
}

.form .formContent .InputLabel {
  display: block;
  position: absolute;
  bottom: 50%;
  left: 1rem;
  color: black;
  font-family: inherit;
  font-weight: inherit;
  opacity: 0;
  -webkit-transform: translate3d(0, var(--labelDefaultPosY), 0) scale(1);
          transform: translate3d(0, var(--labelDefaultPosY), 0) scale(1);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: opacity var(--inputTransitionDuration) var(--inputTransitionTF), visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF), z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF), -webkit-transform var(--inputTransitionDuration) var(--inputTransitionTF);
  transition: opacity var(--inputTransitionDuration) var(--inputTransitionTF), visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF), z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF), -webkit-transform var(--inputTransitionDuration) var(--inputTransitionTF);
  transition: opacity var(--inputTransitionDuration) var(--inputTransitionTF), transform var(--inputTransitionDuration) var(--inputTransitionTF), visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF), z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF);
  transition: opacity var(--inputTransitionDuration) var(--inputTransitionTF), transform var(--inputTransitionDuration) var(--inputTransitionTF), visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF), z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF), -webkit-transform var(--inputTransitionDuration) var(--inputTransitionTF);
}

.form .formContent .InputText:placeholder-shown + .InputLabel {
  visibility: hidden;
  z-index: -1;
}

.form .formContent .InputText:not(:placeholder-shown) + .InputLabel,
.form .formContent .InputText:focus:not(:placeholder-shown) + .InputLabel {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, var(--labelTransformedPosY), 0) scale(var(--labelScaleFactor));
          transform: translate3d(0, var(--labelTransformedPosY), 0) scale(var(--labelScaleFactor));
  -webkit-transition: visibility 0ms, z-index 0ms, -webkit-transform var(--inputTransitionDuration);
  transition: visibility 0ms, z-index 0ms, -webkit-transform var(--inputTransitionDuration);
  transition: transform var(--inputTransitionDuration), visibility 0ms, z-index 0ms;
  transition: transform var(--inputTransitionDuration), visibility 0ms, z-index 0ms, -webkit-transform var(--inputTransitionDuration);
}

.form .button {
  background-color: white;
  border: 2px solid black;
  border-radius: var(--size-radius);
  -webkit-box-shadow: black 4px 4px 0 0;
          box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.form .button:hover {
  background-color: #fff;
}

.form .button:active {
  -webkit-box-shadow: black 2px 2px 0 0;
          box-shadow: black 2px 2px 0 0;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .form .button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.socialLinks {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .socialLinks {
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .socialLinks .socialIcon {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=ContactForm.module.css.map */